html {
	font-size: 10px;
}

body {
	font-family: $common-font;
	

}

.btn {
	display: inline-block;
	text-decoration: none;
	background: $red-gradient;
	color: $white-color;
	padding: 15px 90px;
	@include fontSize(15);
	font-weight: 100; 
	transition: all ease-out .3s;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
	&:hover {
		background: $hover-gradient;
		
	}
	&__reg {
		border-radius: 5px;
		position: relative;
		&::before {
			content: '';
			background: url('../img/Icon_man.png') no-repeat;
			position: absolute;
			display: block;
			left: 5%;
    		top: 14%; 
    		width: 25px;
    		height: 29px;
		}
	}
	&__cnt{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: -8rem;
		box-shadow: 2px 2px 20px $white-color;
		@include fontSize(24);
		padding: 1em 4em;
	}
}