//=======fonts=======//

$common-font: "Roboto", sans-serif;
$common-bold-font: "Circe-ExtraBold", sans-serif;




//======colors======//

$red-color: #bd0534; 
$white-color: #ffffff;
$bg-color: #1b2c3b;
$red-gradient: linear-gradient(to bottom, rgb(188,3,37) 0%,rgb(168,3,41) 51%,rgb(132,2,32) 98%);;
$hover-gradient: linear-gradient(to bottom, rgb(168,3,41) 0%,rgb(188,3,37) 99%);



