@media screen and (max-width:1200px) {
    html {
        font-size: 7px;
    }
    .main_container {
      width: 70vw;
    }
    .main_item img {
      width: 70%;
    }
    .btn {
      padding: 1.5vw 5vw;
    }
 
   }
@media screen and (orientation: landscape) {
   .main_item img {
      width: 50%;
    }
}