@media only screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
 
    .header_banner {
      padding: 0;
      padding-top: 5rem;
      padding-bottom: 5rem;
      width: 100%;
      
    }
    .content_block {
      flex-direction: column;
    }
    }

