@media only screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    .main_title {
        @include fontSize(24);
    }
  }
  @media only (max-width: 480px) and (orientation: landscape) {
    .header_container {
    background: url(../img/chips_banner_225.png) no-repeat 50% 70%;
    background-size: 50%;
  }
    .btn__cnt {
      @include fontSize(14);
    } 
  }

