.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	
}
.header {
	width: 100%;
	background: url('../img/header_bg_01.jpg') no-repeat center;
	background-size: cover;
	&_top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 3rem;
	}
	&_banner {
		position: relative;
		padding: 0 5rem;
		&::before {
			content: url('../img/gradient.png');
			position: absolute;
    		right: -11%;
    		top: -23%;
    		z-index: 1;
		}
	}
	&_img {
		object-fit: cover;
		width: 100%;
		height: auto;
		position: relative;
        z-index: 2;
	}
} 
.logo {
	text-decoration: none;
}
.content {
	width: 100%;
	background: url('../img/main_bg_02.jpg') no-repeat center;
	background-size: cover;
	padding: 6rem 0;
	&_block {
		display: flex;
		justify-content: space-between;

	}
	&_img {
		width: 100%;
		height: auto;
	}
	&_row {
		text-align: center;
		padding-right: 4rem;
		&:last-child {
			padding-right: 0;
		}
	}
	&_text {
		@include fontSize(40);
		color: $white-color;
		font-weight: 100;
		margin-bottom: 0;
		margin-top: 2rem;
		&__sm {
			@include fontSize(24);
			margin-top: 1rem;
		}
	}
}
.cost {
	color: $red-color;
	font-weight: 500;
}