html {
	font-size: 10px;
}

body {
	font-family: $common-font;
	background: #031825; 

}

.btn {
	display: inline-block;
	text-decoration: none;
	background: $red-gradient;
	color: $white-color;
	padding: 1vw 5vw;
	@include fontSize(15);
	font-weight: 100; 
	transition: all ease-out .3s;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
	&:hover {
		background: $hover-gradient;
		
	}
	&__reg {
		border-radius: 5px;
		position: relative;
		&::before {
			content: '';
			background: url('../img/Icon_man.png') no-repeat;
			position: absolute;
			display: block;
			left: 5%;
    		top: 14%; 
    		width: 25px;
    		height: 29px;
		}
	}
	&__cnt{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -6%;
		box-shadow: 2px 2px 20px $white-color;
		@include fontSize(24);
		
	}
}
.header {
	height: 60vh;
	background: url('../img/header_bg_01.jpg') no-repeat center;
	background-size: cover;
	position: relative;
		&_container {
			width: 50vw;
			max-width: 960px;
			margin: 0 auto;
			height: 50vh;
			background: url('../img/chips_banner_225.png') no-repeat center;
			background-size: contain;
		}
		&_top {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 2vh 0;

		}
		&_logo {
			width: 20vh;
			height: auto;
			object-fit: cover;
		}
}
.main {
	height: 40vh;
	background: url('../img/main_bg_02.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	&_chips {
		display: flex;
		justify-content: space-between;
	}
	&_container {
		width: 50vw;
		max-width: 960px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	}
	&_item {
		margin: 0;
		flex-basis: 33.33333%;
		margin-right: 3vw;
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
		& img {
			width: 100%;
    		height: auto;
		}
	}
	&_title {
		@include fontSize(40);
		color: $white-color;
		font-weight: 100;
		margin: 0;
	}

}
.red-price {
	color: $red-color;
	font-family: $common-font;
	font-weight: 500;
	

}

