<header class="header">
	<div class="header_container">
		<div class="header_top">
			<a href="#">
				<img class="header_logo" src="img/Boss-logo.png" alt="">
			</a>
			<a href="#" class="btn btn__reg">Register</a>
		</div>
	</div>	
</header>
<section class="main">
	<a href="#" class="btn btn__cnt">Get now!</a>
	<div class="main_container">
		<div class="main_chips">
			<div class="main_item">
    			<img src="img/chips_50.png" alt="" />
    			<p class="main_title">up to <span class="red-price">€300</span></p>
   			</div>
   			<div class="main_item">
    			<img src="img/chips_50.png" alt="" />
    			<p class="main_title">up to <span class="red-price">€100</span></p>
   			</div>
   			<div class="main_item">
    			<img src="img/chips_50.png" alt="" />
    			<p class="main_title">up to <span class="red-price">€300</span></p>
   			</div>
		</div>
	</div>
</section>