<header class="header">
	<div class="container">
		<div class="header_top">
			<a class="logo" href="#">
				<img class="logo_img" src="img/Boss-logo.png" alt="BossCasino">
			</a>	
			<a class="btn btn__reg" href="#">Register</a>
		</div>	
		<div class="header_banner">
			<img src="img/chips_banner_225.png" class="header_img" alt="">	
		</div>
	</div>	
</header>
<section class="content">
	<div class="container">
		<a href="#" class="btn btn__cnt">Get it now!</a>
		<div class="content_block">
			<div class="content_row">
				<img class="content_img" src="img/chips_100.png" alt="">
				<p class="content_text">up to <span class="cost">&#8364 300</span></p>
			</div>
			<div class="content_row">
				<img class="content_img" src="img/chips_75.png" alt="">
				<p class="content_text">up to <span class="cost">&#8364 100</span></p>
			</div>
			<div class="content_row">
				<img class="content_img" src="img/chips_50.png" alt="">
				<p class="content_text">up to <span class="cost">&#8364 300</span></p>
			</div>
		</div>
	</div>	
</section>